@import "tailwindcss";

/* Fuente personalizada */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary: #BCC990;   /* Verde brillante */
  --secondary: #085123; /* Verde oscuro */
  --background: #FFFCF4; /* Fondo claro */
  --text: #1e293b;      /* Texto gris oscuro */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFCF4;
  color: var(--text);
}

/* Animación de flotación suave para tarjetas */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}